* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffd3e2;
  font-family: Raleway, sans-serif;
  font-weight: 100;
  margin: auto;
}

h1 {
  padding: 30px;
  color: #ff216c;
}

h1:hover {
  text-decoration: dotted underline;
}

ul {
  list-style: inside circle;
  font-weight: 900;
  line-height: 1.4em;
  margin: 15px;
  padding: 15px;
  float: left;
  color: #84123a;
  background: #ffeff4;
  border: solid 1px #84123a;
  border-radius: 10px;
}

ul:hover {
  background: #FFF;
}

li {
  font-weight: 100;
}
