* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000;
  background-color: #ffdad3;
  font-family: Raleway, sans-serif;
  font-weight: 100;
  font-size: 0.9em;
}

#content {
  position: fixed;
  background: linear-gradient(#ffedcc, #ff9e8c);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

h1 {
  color: #FFF;
  font-size: 2em;
  font-family: 'Days One', sans-serif;
  font-weight: 100;
  text-align: center;
  padding: 30px;
  text-shadow: 2px 2px 2px #d6925e;
}

table {
  margin: auto;
  border-collapse: collapse;
  box-shadow: -2px -2px 2px #d6925e;
}

tr {
  opacity: 0.8;
}

tr:hover {
  opacity: 1.0;
  cursor: default;
}

table#projectedSales th {
    background-color: #d8653e;
    color: #FFF;
}
table#projectedSales tr:nth-child(even) {
    background-color: #e8a188;
}
table#projectedSales tr:nth-child(odd) {
   background-color:#ffd5c6;
}
table#projectedSales tr:only-child {
  background-color: #FFF;
}

th {
  padding: 15px;
  border: solid 1px #b73922;
  font-weight: 900;
}

td {
  padding: 20px;
  margin: 20px;
  border: solid 1px #b73922;
  font-weight: 100;
}
