* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000;
  background-color: #ffdad3;
  font-family: Raleway, sans-serif;
  font-weight: 100;
  font-size: 13px;
}



h1 {
  color: #FFF;
  font-size: 2.5em;
  font-family: 'Days One', sans-serif;
  font-weight: 100;
  padding: 30px 20px 10px 10px;
  text-shadow: 2px 2px 2px #d6925e;
  text-align: center;
}

p {
  color: #b73922;
  margin: 10px;
}

table {
  margin: 20px 0 20px 0;
  border-collapse: collapse;
  box-shadow: -2px -2px 2px #d6925e;
}

tr {
  opacity: 0.8;
}

tr:hover {
  opacity: 1.0;
  cursor: default;
}

table#projectedSales th {
    background-color: #d8653e;
    color: #FFF;
}
table#projectedSales tr:nth-child(even) {
    background-color: #e8a188;
}
table#projectedSales tr:nth-child(odd) {
   background-color:#ffd5c6;
}
table#projectedSales tr:only-child {
  background-color: #FFF;
}

th {
  padding: 15px;
  border: solid 1px #b73922;
  font-weight: 900;
}

td {
  padding: 15px;
  border: solid 1px #b73922;
  font-weight: 100;
}

fieldset {
  background: #ffd5c6;
  border: solid 1px #b73922;
  padding: 15px 25px;
  border-radius: 5px;
  opacity: 0.8;
  margin: 10px auto;
  box-shadow: -2px -2px 2px #d6925e;
  text-align: left;
  line-height: 3em;
  width: 450px;
}

fieldset:hover {
  opacity: 1.0;
}

legend {
  font-size: 1.5em;
  background: #FFF;
  border: solid 1px #b73922;
  padding: 5px;
  border-radius: 5px;
}

input {
  margin: 6px;
}

input[type=text] {
  padding: 5px;
  box-sizing: border-box;
  border: solid 2px;
  border-radius: 5px;
  outline: none;
  float: right;
}

input[type=text]:focus {
  background: #feffce;
}

#wrapper {
  position: fixed;
  background: linear-gradient(#ff9e8c, #ffedcc);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

#content {
  width: 1040px;
  padding: 10px;
  position: relative;
  margin: auto;
}


#projectedSales {
  float: left;
}

#addLocValidation {
  margin-top: 10px;
  font-weight: 900;
  line-height: 1.2em;
}

#submitP {
  text-align: center;
}

#submitButton {
  font-size: 1.2em;
  padding: 5px;
  background: #FFF;
  border: solid 2px;
  border-radius: 5px;
  margin: 10px 10px 0 10px;
}
