* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  font-family: helvetica, sans-serif;
  font-size: 0.9em;
  font-weight: 100;
  color: #FFF;
}

p {
  margin-bottom: 15px;
}

a {
  text-decoration: underline;
  color: inherit;
}

.data {
  font-family: georgia, serif;
}

nav {
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: #FFF;
  z-index: 1;
}

#homeimg {
  display: inline;
  width: 80px;
  height: auto;
  opacity: 0.7;
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: inline-block;
  font-family: helvetica, sans-serif;
  font-size: 1.2em;
  padding: 20px 20px;
  color: #f74d3d;
  font-weight: 700;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#eee, #f93422);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

li a {
  text-decoration: none;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 10px;
  color: #FFF;
  background-color: #ffdad3;
  background: linear-gradient(#ffedcc, #ff9e8c);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
}

h1 {
  font-size: 3em;
  font-family: 'Days One', sans-serif;
  font-weight: 100;
  text-align: center;
  padding: 20px;
  text-shadow: 2px 2px 2px #d6925e;
}

header p {
  font-size: 1.5em;
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
}

#learnmore {
  font-size: 1em;
  font-weight: 900;
  display: block;
  margin-top: 20px;
}

#learnmore a {
  text-decoration: none;
  color: #aa2700;
  cursor: default;
}

#learnmore a:hover {
  color: #c94c30;
}

#content {
  position: absolute;
  top: 100%;
  width: 100%;
  line-height: 1.5em;
  text-align: justify;
}

#about {
  background: #ad3535;
  color: #ffeae5;
  padding: 80px 100px;
}

#imageP {
  text-align: center;
}

.cookieimage {
  display: inline;
  width: 23%;
  height: auto;
  opacity: 0.7;
  border: solid 1px #FFF;
}

.cookieimage:hover {
  opacity: 1.0;
}

#locations {
  background: #ffc8bf;
  color: #aa2700;
  padding: 80px 100px;
}

.locationsDiv {
  margin: auto;
  text-align: center;
}

.loc {
  display: inline-block;
  width: 45%;
  margin: 10px 5px;
  padding: 40px 10px;
  border: solid 1px #aa2700;
  border-radius: 5px;
  background: #ffdbd6;
  text-align: center;
  max-width: 450px;
}

.emptyloc {
  display: inline-block;
  width: 45%;
  margin: 10px 5px;
  padding: 40px 10px;
  border: 0px;
  max-width: 450px;
}

.loc:hover {
  background: #ffedea;
}

#locations::after {
  content: "";
  display: table;
  clear: both;
}

#contact {
  background: #FFF;
  color: #c94c30;
  padding: 80px 100px;
  letter-spacing: 0.1em;
}

#contact a {
  text-decoration: none;
  color: #aa2700;
  font-weight: 400;
}

#contact a:hover {
  color: #d65437;
  cursor: default;
}

#contact p {
  font-size: 1.5em;
  line-height: 2em;
  text-align: center;
}

#testimonials {
  background: #ad3535;
  color: #ffeae5;
  padding: 80px 100px;
}

q {
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.7em;
  color: #f2dcd7;
}

q:hover {
  color: #ffeae5;
  background: #c14747;
  cursor: default;
}

h2 {
  padding: 20px 20px 40px 20px;
  text-align: center;
  font-family: Raleway;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 0.1em;
}

h3 {
  font-weight: 900;
  line-height: 1.5em;
  font-size: 1.2em;
  letter-spacing: 0.05em;
}

footer {
  background: #ffe4e0;
  color: #c94c30;
  padding: 40px 100px 40px 100px;
  text-align: center;
  font-weight: 400;
  font-size: 0.9em;
}
